/* SECCION1 CONTACTO */

.section1_contacto{
    background-image: url('../assets/img/contacto/Group\ 18.webp');
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}

.h1_contacto{
    font-size: 40px;
}

.escribinos {
    margin-left: 15%;
    margin-right:15%;
    padding-top: 50px;
    font-size: larger;
}

.form-control {
    background-color: #efefef;
    padding: 15px;
    border-radius: 20px;
}

.btn-contacto2 {
    background-color:#fd8237;
    color:white;
    font-size: larger;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    border: none;
}

.opcional_contactos {
    font-size:xx-small;
    padding-left:0.5%;
}
