/* SECCION1 CONTACTO */

.section1_contacto{
    background-image: url('../assets/img/contacto/Group\ 18.webp');
    color: white;
    padding: 100px;
}

.h1_contacto{
    font-size: 40px;
}

.escribinos {
    margin-left: 15%;
    margin-right:15%;
    padding-top: 50px;
}

.form-control {
    background-color: rgb(239, 239, 239);
    border: none;
}

.btn-contacto {
    background-color:#fd8237;
    color:white;
    font-size: larger;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    border:none;
}

.opcional_contactos {
    font-size:xx-small;
    padding-left:0.5%;
}