/* Tipografias
Titulos
Poppins black y bold
Cuerpo y txt
poppins regular, italic y extraligth */

/* ROOT */
*{
    font-family: 'Poppins', sans-serif;;
}
.f-black{
    font-weight:900 ;
}
.f-ligth{
    font-weight:200 ;
}
.f-reg{
    font-weight:400;
}
.f-bold{
    font-weight:700;
}
/* NAVBAR */
.logo{
    max-width: 300px;
    width:100%;
    height: auto;
}


nav{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px !important;
    justify-content: center;
    align-items:center ;
}

.navbar-brand {
    max-width:75%;
}

ul{
    display: flex;
    justify-content: start;
}
.font-nav{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.font-nav-bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fd8237;
}
a{
    padding: 1em;
    margin-right: 10px;
}



/* SECCION1 */
.section1{
    background-image: url('../assets/img/inicio/banner_principal.webp');
    color: white;
    height: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 60px;
}
/* SECCION2 */
.section2{
    background-color: white;
    color: black;
    padding: 10%;
}

@media (min-width:1000px) {
    .section2{
        padding: 10%;
        width:100%;
    }
}

.img-100{
    width: 100% ;
    height: auto ;
    padding: 5px;
}
/* SECCION3 */
.title{
   text-align: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.txt{
    text-align: justify;
}

/* CONTADOR */
.contador{
    font-size: 30px;
}
@keyframes aparecer{
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}
.ocultar{
    opacity: 0;
}
.animar{
    animation: aparecer 3s ;
    opacity: 1;
}

/* fBORAR */
.btn-colab{
    background-color:#83d4aa;
    color:white;
    font-size: larger;
    padding: 20px;
    border-radius: 30px;
}

footer {
    background-color: #98cdbb;
    color:white;
}

.icono_footer {
    width: 5%;
    min-width:50px;
}

.footer_text{
    min-width:200px;
}
/* SECCION4-PRODUCTOS */
.productos{
    background-image: url('../assets/img/inicio/fondo-destacado.webp');
    /* background-color: #1d4731; */
}

.contenedor-prod{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.btn-quiero{
    background-color:#98cdbc;
    right: 100px;
    left: 100px;
    padding-left: 200px;
    color:white;
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;
    transition: 0.5s;

}
.btn-quiero:hover{
    background-color:#98cdbc;
    right: 100px;
    left: 100px;
    padding-left: 200px;
    color:black;
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;

}
.pos{
    display: flex;
    flex-direction: column;
    justify-content:end;
}
.star{
    color: rgb(195, 195, 0);
}
.btn-fav{
    /* right: 1px; */
    font-weight:600;
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    z-index: 999;
    background-color: white;
    color: black;
}
.card-des{
    transition: all 0.5s;
    width: 90%;
    height: auto;
    }
    .card-des:hover{
        width: 100%;

    }


    .card-des .card-img{
        border-radius: 30px;
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        }
    .card-des .card-img:hover{
        border-radius: 30px;
        margin-bottom: 30px;
        transition: all 0.5s;
        width: 110%;
        height: auto;
    }

    .card-des .card-txt:hover{
        font-size: 35px;
        transition: all 1s;
        font-weight: 700;
    }

.img-500{
    width: 100px;
    height: auto;
}
/* MODAL */
.modal_container-form{
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    margin: auto;
    width: 150%;
    max-width: 600px;
    transform: var(--transform);
    transition:var(--transition);
    z-index: 9999;
}

/* MODAL-CONTACTO */

.section1_contacto{
    background-image: url('../assets/img/contacto/Group\ 18.webp');
    color: white;
    padding: 100px;
}

.h1_contacto{
    font-size: 40px;
}

.escribinos {
    margin-left: 15%;
    margin-right:15%;
    padding-top: 50px;
}

.form-control {
    background-color: rgb(239, 239, 239);
    border: none;
}

.btn-contacto {
    background-color:#fd8237;
    color:white;
    font-size: larger;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    border:none;
}

.opcional_contactos {
    font-size:xx-small;
    padding-left:0.5%;
}


/* MODAL EXITO */
.modal_container-exito{
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background-color: #1d4731;
    color: white;
    margin: auto;
    width: 150%;
    max-width: 600px;
    transform: var(--transform);
    transition:var(--transition);
    z-index: 9999;
}
.exito{
    padding: 30px;
}
.btn-cerrar{
    margin-left: 480px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    z-index: 999;
    color: white;
}

/* MODAL-ZINDEX */
.modal-form{
    z-index: 9999999 !important;
} 
/* MODAL-PROD */
.modal__container{
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background-color: #1d4731;
    color: white;
    margin: auto;
    width: 150%;
    max-width: 95%;
    transform: var(--transform);
    transition:var(--transition);
}
.img-modal{
    border-radius: 20px;
    height: auto;
    min-width:200px;
}
.btn-category{
    display: flex;
    justify-content: space-evenly;
}
.may-men{
    display: flex;
    justify-content: space-evenly;
}

.btn-modal{
    background-color:#98cdbb;
    border-radius: 15px;
    border: 0ch;
}
.btn-modal-l{
    background-color: white;
    border-radius: 15px;
    border: 0ch;
}
.des-min{
    font-size: 15px;
}

.btn-quiero2{
    background-color:#fd8237;
    right: 100px;
    left: 100px;
    padding-left: 200px;
    color:white;
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;
    transition: 0.5s;

}
.btn-quiero2:hover{
    background-color:#fd8237;
    right: 100px;
    left: 100px;
    padding-left: 200px;
    color:white;
    font-size: 25px;
    padding: 15px;
    border-radius: 20px;

}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
     transition: opacity .6s .9s;
    --transform: translateY(+100vh);
    --transition: transform .8s;
}
.modal--close{
    display:none;
}
.m4{

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #111111bd;
        display: flex;
        opacity: 0;
        pointer-events: none;
         transition: opacity .6s .9s;
        --transform: translateY(+100vh);
        --transition: transform .8s;

}
 .modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}
.lista{
    display: flex;
    flex-direction: column;
}
/*
.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 90%;
    max-width: 300px;
}
*/
.modal__close{
    text-decoration: none;
    color: #F26250;
    padding:0px;
    margin:0px;
    font-weight: 300;
}

.modal__close:hover{
    color: #000000;
}

.modal__close__form{
    text-decoration: none;
    color: #F26250;
    font-weight: 300;
}

.modal__close__form:hover{
    color: #000000;
    font-weight: 500;
}
/* SECCION */
.btn-part{

        background-color:#fd8237;
        color:white;
        font-size: larger;
        padding: 20px;
        border-radius: 30px;
    }
.talleres{
    padding: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.img-tall{
    width: 100%;
    max-height: 400px;
}

/* ALIANZAS */
.alianzas{
    padding-top: 30px;
    padding-bottom: 30px;
}
.slider {
    z-index: 0 !important;
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

.pressedButton {
    background-color: gray;
    font-weight: bold;
}

