html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* SECCION1 */
.section1_reciclar{
    display: block;
    background-image: url('../assets/img/reciclar/Group\ 20.webp');
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
    padding:1%;
    max-width:100%;
    height: auto;
    background-size: 100% 100%;
}

h1{
    font-size: 60px;
}

.div_reciclar{
    padding: 0px 20px 0px 20px;
    width:100%;
}

/*PC*/
@media (min-width:1000px) {
    .div_reciclar{
        padding: 0px 10% 0px 10%;
        width:100%;
    }

    .section1_reciclar{
        display: block;
        background-image: url('../assets/img/reciclar/Group\ 20.webp');
        color: white;
        padding: 150px;
        padding-top: 150px;
        padding-bottom: 150px;
        max-width:100%;
        height: auto;
        background-size: 100% 100%;
    }
}


.yerba_reciclar {
    border-radius: 50%;
    border: 10px solid #98cdbb;
    padding:0px;
    width:60%;
    max-width: 250px;
}

hr {
    border: 0.65vmin solid #1D4731;
    background-color: #1D4731;
    opacity: 1;
    margin: 0%;
    width:84%;
}

.nros_reciclar {
    padding-right: 10px;
}

.section3_reciclar {
    background-image: url('../assets/img/reciclar/Puntos\ de\ recolección/Fondo.webp');
    height:100%;
}

.entrega_reciclar {
    text-align: center;
}
