
/* ROOT */
*{
    font-family: 'Poppins', sans-serif;;
}
.f-black{
    font-weight:900 ;
}
.f-ligth{
    font-weight:200 ;
}
.f-reg{
    font-weight:400;
}
.f-inter{
    font-weight: 500;
}
.f-bold{
    font-weight:700;
}
/* NAVBAR */
.logo{
    max-width: 300px;
    width:100%;
    height: auto;
}


nav{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    padding: 20px !important;
    justify-content: center;
    align-items:center ;
}
ul{
    display: flex;
}
.font-nav{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.font-nav-bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fd8237;
}
a{
    padding: 1em;
    margin-right: 10px; 
}

/* FOOTER */
footer {
    background-color: #98cdbb;
    color:white;
}

.icono_footer {
    width: 5%;
    min-width:50px;
}

.footer_text{
    min-width:200px;
}

/* PROD-SERV */
.margin{
    margin-top: 60px;
    margin-bottom: 60px;
}
.num{
    font-size: 80px;
}
.box{
    text-align: justify;
}

/* ICONOS */
.icons{
    text-align: center;
    justify-content: center;
    justify-content: space-evenly;
}

.btn-quiero3 {
    background-color:#fd8237;
    color:white;
    font-size: 17px;
    border-radius: 10px;
    transition: 0.5s;

    min-width:50%;
}

/* PRODUCTOS */
.contenedor-productos{
    display: flex;
    justify-content: space-between;
}
.border{
    border-radius: 30px;

}
.card{
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    box-shadow: 8px 8px 18px 1px rgba(142,140,140,0.26);
    -moz-box-shadow: 8px 8px 18px 1px rgba(142,140,140,0.26);
    -webkit-box-shadow: 8px 8px 18px 1px rgba(142,140,140,0.26);
}

.img-card{
    width:80%;
}
.bg-prod{
    background-color: #d0f3e8;
}
.pad{
    padding-top: 100px;
    padding-bottom: 100px;
}



.btn_opc {
    font-size:15px;
}


/* MODAL */
